{% load static %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Django</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&subset=latin,latin-ext" type="text/css">        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>   
        <div class="page-header d-flex justify-content-evenly">
            <div class="align-items-center">
                <h1 class="text-center"><a href="/">Django Blog</a></h1>
                <a href="{% url 'post_new' %}" class="btn btn-outline-success">Nuevo Posteo</a>
            </div>
        </div>
            
        <div class="content ccontainer overflow-hidden">
             <div class="row">
                 <div class="col m-3">                  
                     {% block content %}
                     {% endblock %}
                 </div>
             </div>
        </div>  
     
    </body>
</html>