<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django</title>
</head>
<body>
    <h1>Este es un blog creado con Djando</h1>
 
    <div>
        <h1><a href="/">Django Blog Home</a></h1>
    </div>

    <div>
        <h2><a href="">My first post</a></h2>
        <p>published: 04.03.2021, 12:14</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates adipisci dolores iure rem ipsa earum dolor exercitationem! Tenetur itaque vitae odio maiores dignissimos quia, beatae fugiat! Veniam totam incidunt ad!.</p>
    </div>

    <div>
        <h2><a href="">My second post</a></h2>
        <p>published: 04.03.2021, 12:14</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo amet enim eveniet quod praesentium maxime minima molestiae totam, iure similique animi repellat ratione ut ipsum soluta exercitationem quis optio modi.</p>
    </div>
</body>
</body>
</html>